<footer id="join">
    <section class="join">
        <h3>SUBSCRIBE</h3>
        <p>Sign up with your email address to receive news and updates.</p>
        <form action="">
            <input type="text" name="firstName" id="" placeholder="First Name" required>
            <input type="text" name="lastName" id="" placeholder="Last Name" required>
            <input type="email" name="email" id="" placeholder="Email" required>
            <button type="submit">Join</button>
        </form>
        <p>Plogging is an initiative of Clean Trails, Inc. a 501(c)3 non-profit. Plogging© Clean Trails© 2023 All rights reserved <br> <span>Website Design by Ben Taylor</span></p>
    </section>
    <section style="padding: 1rem; box-sizing: border-box; color: white; font-size: 0.85rem; background-color: black; height: 120px; display: flex; justify-content: center; align-items: center;">
        <p>Thank you for your interest in Plogging-Ethiopia! Together, let's make Ethiopia cleaner and healthier.</p>
    </section>
</footer>