<header>
    <nav>
        <img src="/images/photo_2022-05-04_15-46-24.jpg" alt="" class="logo">
        <ul class="nav-ul">
            <li><a href="/">Home</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">Plogging</a></li>
            <li><a href="/FAQ">FAQ</a></li>
        </ul>
        <a href="#join">Join</a>
        <img src="/images/menu-burger.png" class="menu" alt="">
    </nav>        
</header>