<header>
    <nav>
        <img src="/images/photo_2022-05-04_15-46-24.jpg" alt="" class="logo">
        <ul class="nav-ul">
            <li><a href="/">Home</a></li>
            <li><a href="">About us</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/FAQ">FAQ</a></li>
        </ul>
        <a href="#join" class="add">Join</a>
        <img src="/images/menu-burger.png" class="menu" alt="">
    </nav>        
</header>
<nav class="menu-list">
    <ul class="nav-ul">
        <li><a href="/">Home</a></li>
        <li><a href="">About us</a></li>
        <li><a href="">Plogging</a></li>
        <li><a href="/FAQ">FAQ</a></li>
    </ul>
    <a href="#join">Join</a>
    <ul class="links">
        <li><a href=""><img src="/images/instagram.png" alt=""  class="s-links"></a></li>
        <li><a href="https://t.me/ploggingethiopia" target="_blank"><img src="/images/telegram.png" alt="" class="s-links"></a></li>
        <li><a href=""><img src="/images/facebook.png" alt="" class="s-links"></a></li>
    </ul>
</nav>
