<ul>
    <li><a href=""><img src="/images/instagram.png" alt=""  class="s-links"></a></li>
    <li><a href="https://t.me/ploggingethiopia" target="_blank"><img src="/images/telegram.png" alt="" class="s-links"></a></li>
    <li><a href=""><img src="/images/facebook.png" alt="" class="s-links"></a></li>
</ul>