<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav')%>
    <main style="padding-top: 1rem; text-align: center;">
       <h3>We are building it</h3>
       <p>please come back  shortly!</p>
    </main>   
   <%- include('./partials/s-links')%>
    
   <%- include('./partials/footer')%>
</body>
</html>