<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav')%>
    <main>
       <p class="faq">Welcome to our FAQs section, </p>
       <p>where we address common queries about Plogging-Ethiopia and our initiatives. If you have additional questions, feel free to reach out to us!</p>  
       <h3>
            Frequently asked questions
        </h3>
        <ol>
            <li><b>What is Plogging?</b><br><br>Plogging is a fitness and environmental activity that combines jogging with picking up litter. It's a fun and impactful way to stay active while contributing to a cleaner environment.</li>
            <li><b>How can I join a Plogging event?</b><br><br>Joining a Plogging event is easy! Check our calendar for upcoming events in your area. Simply show up on the designated day with comfortable clothing, sturdy shoes, and a pair of gloves. Participation is free!</li>
            <li><b>Do I need to register for events?</b><br><br>Registration is not mandatory, but it helps us plan for the number of participants. You can register for events on our website or simply join us on the day of the event.</li>
            <li><b>Can groups participate in Plogging events?</b><br><br>Absolutely! We encourage groups from schools, associations, organizations, and friends to join our events. It's an excellent opportunity to bond, strengthen relationships, and contribute to a healthier community.</li>
            <li><b>Is there an age limit for participation?</b><br><br>Plogging is inclusive, and participants of all ages are welcome! We encourage families, youth, and seniors to join us in making a positive impact.</li>
            <li><b>What do I need to bring to a Plogging event?</b><br><br> Come with comfortable clothing, suitable shoes for jogging, and a pair of gloves. We provide bags for collecting litter.</li>
            <li><b>How often do you organize Plogging events?</b><br><br>We organize events every Saturday and Sunday. Check our calendar for specific dates and locations.</li>
            <li><b>Can I organize a Plogging event in my area?</b><br><br> Absolutely! We welcome individuals and groups to organize Plogging events. Reach out to us, and we'll provide guidance and support.</li>
            <li><b>Do you provide certificates or recognition for participants?</b><br><br> While we don't provide certificates, we appreciate and recognize the efforts of all participants. Your contribution to a cleaner environment is a reward in itself! </li>
            <li><b>How can I stay updated on upcoming events and news?</b><br> <br>Stay connected by following us on social media, and regularly check our website for updates, event announcements, and inspiring stories. </li>
        </ol>
    </main>   
   <%- include('./partials/s-links')%>
    
   <%- include('./partials/footer')%>
</body>
</html>