<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav')%>
    
    <main>
        <h2>Welcome to the Plogging Ethiopia</h2>
        <p>Discover our thought-provoking and motivational posts about preserving the environment, embracing sustainable lifestyles, and the remarkable influence of plogging. Keep yourself informed about the most recent developments, upcoming events, and inspiring achievements as we strive to build a greener and more pristine Ethiopia.</p>
   </main>
    <section class="mission">
        <h3>Our Mission</h3>
        <p>At the core of Plogging-Ethiopia is a mission to create a cleaner, greener Ethiopia through community-led action. We believe that collective efforts, no matter how small, can pave the way for substantial change. By encouraging plogging, we aim to inspire people to take responsibility for their environment while promoting an active and healthy lifestyle.</p>
    </section>
   <%- include('./partials/s-links')%>
    <section class="story">
        <h3>Our Story</h3>
        <p>Plogging-Ethiopia traces its origins back to a family excursion that spanned more than five years before officially launching in January 2021 at Entoto Park, Addis Ababa. The individuals behind this initiative are Firew Kefyalew, a father, and his three sons – Yeab, Lihiq, and Amnen. Plogging-Ethiopia goes beyond simply collecting trash; it represents a dynamic movement that combines physical fitness, community involvement, and environmental responsibility. The concept, originating from Sweden, quickly gained momentum as Firew and a growing community of volunteers realized its potential to make a meaningful impact in Ethiopia. Our dedicated volunteers, comprising students and professionals alike, unite under a shared objective: fostering a healthier Ethiopia by tackling plastic pollution and advocating for an active way of life.</p>
    </section>
    <footer id="join">
        <section class="join">
            <h3>SUBSCRIBE</h3>
            <p>Sign up with your email address to receive news and updates.</p>
            <form action="">
                <input type="text" name="firstName" id="" placeholder="First Name" required>
                <input type="text" name="lastName" id="" placeholder="Last Name" required>
                <input type="email" name="email" id="" placeholder="Email" required>
                <button type="submit">Join</button>
            </form>
            <p>Plogging is an initiative of Clean Trails, Inc. a 501(c)3 non-profit. Plogging© Clean Trails© 2023 All rights reserved <br> <span>Website Design by Ben Taylor</span></p>
        </section>
        <section style="background-color: black; height: 120px;"></section>
    </footer>
</body>
</html>